@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400&family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif;
}

.main-wrapper{
    width: 80%;
    max-width: 700px;
    margin: 10% auto;
    transform: translateY(120px);
    position: relative;
    text-align: center;
    height: 100vh;
}

.main-wrapper h1{
    color:#FF6584;
    /* margin-bottom: 30px; */
    font-size: 2rem;
}

.main-wrapper img{
    width: 256px;
    height: 145.79px;
    margin: 20px 0;
}

#data-cta{
    color: #575988;
    font-size: .8rem;
    margin: 10px 0;
}

#data-caution{
    color: #575988;
    font-size: .7rem;
    margin-bottom: 20px;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
}

input[type = "text"]{
    height: 45px;
    padding: 10px 10px 10px 18px;
    margin-bottom: 10px;
    outline: none;
    background-color: #F0EFFF
    ;
    border: 0;
}

input[type = "text"]:focus-within{
    border: 1px solid rgb(75, 218, 170);
}

.output{
    background-color: #f0f8ff;
    padding: 10px;
    line-height: 1.5rem;
    text-align: center;
}

button[type = "submit"]{
    height: 45px;
    padding: 10px;
    margin-bottom: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #5D5FEF;
    ;
    text-transform: uppercase;
    transition: background 1s;
    color: #fff;
    font-weight: 600;
}

button[type = "submit"]:hover{
    background-color: #474aee;
}

button[type = "reset"]{
    height: 45px;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #FF6584;
    text-transform: uppercase;
    transition: background 1s;
    color: #fff;
    font-weight: 600;
}

::placeholder{
    color: #6C63FF;
    font-weight: 400;
    font-size: .8rem;
}

#author-data{
    margin: 20px 0;
}

#author-data:nth-child(1n){
    font-size: .68rem;
}


@media screen and (min-width: 500px) {
    .main-wrapper{
        width: 80%;
        max-width: 700px;
        margin: 15% auto;
        transform: translateY(20px);
        position: relative;
    }
}